.delivery-page * {
  box-sizing: border-box;
  /* font-size: 14px; */
}

.delivery-container {
  display: flex;
  height: calc(100vh - 103px);
}

.payment-container {
  display: flex;
  height: calc(100vh - 60px);
}

.body-left-wrapper {
  width: 55.83%;
  height: 100%;
  background-color: #f8f8f8;
  font-size: 14px;
}

.body-left {
  height: 100%;
  width: 670px;
  float: right;
  margin-right: 98px;
  width: 570px;
}

.body-right-wrapper {
  flex: 1;
  height: 100%;
  background-color: #eee;
}

.crumbs {
  margin-top: 55px;
  font-family: 'Jost Light';

}


.delivery-form .input-item, .card-info, .bank-info .input-item{
  height: 46px;
  border: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  flex: 1;
  background: #fff;
  color: #525358;
  padding: 14px;
}

.input-item .item-title {
  margin-right: 20px;
}
.input-item input, .card-info input {
  border: 0;
  flex: 1;
  height: 40px;
  font-family: 'Futura Book';
}


.payment-title {
  margin: 0 15px;
}
.payment-way {
  width: 114px;
}

.card-info .card-date {
  flex: 0;
  width: 80px;
}

.card-info .card-cvc{
  flex: 0;
  width: 60px;
}

.roy-pay, .bank-trans {
  font-family: 'Futura Book';
  color: #333333;
  margin: 20px 0;
}

.roypay-item {
 margin-right: 20px;
}

.roypay-item .payment-way {
  height: 16px;
  width: 56px;
  margin-bottom: -4px;
}

.bank-info .bank-number {
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 8px;
  height: 13px;
  position: relative;
  margin-right: 12px;
  font-family: 'Jost Light';

}
input[type="checkbox"]:checked:after {
  content: "✓";
  font-size: 12px;
  background-color: #000;
}

input[type="checkbox"]:after {
  position: absolute;
  width: 8px;
  height: 15px;
  top: 0;
  content: " ";
  background-color: #fff;
  border:1px solid #CDCDCD;
  color: #fff;
  display: inline-block;
  visibility: visible;
  padding: 0px 3px;
  border-radius: 3px;
}
.crumbs a {
  text-decoration: none;
  color: #525358;
}

.crumbs span {
  color: #dcddd8;
}

.checkout {
  line-height: 24px;
  color: #000000;
  font-size: 22px;
  margin-top: 35px;
  font-family: 'Futura Book';
}

.tip {
  color: #525358;
  margin-top: 13px;
  font-family: 'Futura Book';
}

.sign-in,
.register {
  color: #bf9757;
}



.deliver-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Futura Book';
  border-bottom: 1px solid #CDCDCD;
  margin-bottom: 20px;
}

.deliver-title-box .title-edit {
  text-decoration: underline;
  color: #525358;
  font-size: 12px;
  font-weight: 400;
}

.deliver-title {
  padding: 20px 0;
  line-height: 24px;
  color: #000;
  font-size: 16px;
  border-bottom: 1px solid #eeeeee;
  font-family: 'Futura Book';
}

.form-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.form-item-wrapper-1 {
  margin-top: 26px;
  font-family: 'Futura Book';

}

.address {
  width: 100%;
}

.address,
.form-item-wrapper-2,
.form-item-wrapper-3 {
  margin-top: 18px;
}

.form input {
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  padding: 8px 12px;
}

.first-name,
.last-name,
.phone,
.email {
  width: 278px;
}

.form-item-wrapper-4 {
  justify-content: flex-start;
  margin-top: 22px;
  height: 18px;
  line-height: 18px;
  font-family: 'Futura Book';
  color: #525358;
}

.form-item-wrapper-4 input {
  display: inline-block;
  padding: 0;
  height: 18px;
  line-height: 18px;
}

.form-item-wrapper-4 p {
  margin-left: 12px;

}

.submit-btn {
  width: 332px;
  line-height: 38px;
  text-align: center;
  background-color: #bf9757;
  color: #fff;
  margin-top: 36px;
}

.body-right {
  width: 416px;
  margin-left: 26px;
}

.goods-info-wrapper {
  height: 286px;
  overflow: auto;
  margin-top: 58px;
}

.goods-info {
  display: flex;
  padding: 32px 0;
  border-bottom: 1px solid #cdcdcd;
}

.img-wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
}

.img-wrapper img {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 8px;
}

.other-info {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.goods-title {
  color: #bf9757;
  font-family: 'Futura Book';
}

.goods-name {
  font-size: 18px;
  line-height: 22px;
  margin-top: 4px;
  font-weight: bold;
  font-family: 'Futura Medium';
}

.goods-price {
  font-size: 15px;
  margin-top: 12px;
  font-family: 'Futura Book';
}

.price-wrapper {
  padding: 18px 0;
  border-top: 1px solid #cdcdcd;
  font-family: 'Futura Book';
}

.price-wrapper-1,
.price-wrapper-2,
.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtotal,
.shipping {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.subtotal-4,
.calculated,
.total-4 {
  color: #525358;
}

.total-price {
  border-top: 1px solid #cdcdcd;
  padding-top: 20px;
}

.total {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

input:focus {
  outline: none;
}