.projectDetail-content {
 
}

.productDetail-box {
  max-width: 1100px !important;
  padding-bottom: 30%;
}
.projectDetail-title {
  font-size: 24px;
  font-family: FuturaBT-Medium, FuturaBT;
  font-weight: 500;
  color: #333333;
  margin-top: 5%;
}
.projectDetail-dec {
  font-size: 16px;
  font-family: Jost-Light, Jost;
  font-weight: 300;
  color: #333333;
  margin-top: 8px;
  line-height: 30px;
}
.projectDetail-position {
  /* display: flex; */
  /* margin-left: -5%; */
  margin: 30px 0;
}

.projectDetail-position label {
  font-size: 15px;
  font-family: FuturaBT-Medium, FuturaBT;
  font-weight: 500;
  color: #333333;
}
.projectDetail-position span {
  font-size: 15px;
  font-family: FuturaBT-Medium, FuturaBT;
  font-weight: 500;
  color: #bf9757;
  margin-left: 4px;
}
.projectDetail-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 6%;
}

.projectDetail-item {
  width: 23%;
  height: 280px;
  margin-right: 2%;
  margin-top: 2%;
  overflow: hidden;
}

.item-img:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.53)!important;
  z-index: 9;
  
}

.projectDetail-item .item-img {
  width: 100%;
  height: 100%;
  transition: all 2s;
  cursor: pointer;
}
.projectDetail-imgs .item-img:nth-child(4n) {
  margin-right: 0;
}


/* model */
.projectDetail-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.35);
  z-index: 9999;
}
.projectDetail-modal .projectDetail-modal-content {
  height: 50%;
  background: #eeeeee;
  padding: 10px 10px 40px 10px;
  position: relative;
  width: 52%;
  /* height: 100%; */
}

.projectDetail-modal-content .model-close {
  position: absolute;
  top: -60px;
  right: -15px;
  background: url('../img/ICON/colse-icon.png') no-repeat;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.projectDetail-modal-content img {
  height: 100%;
  width: 100%;
}



.projectDetail-modal-content .arrow-button-next {
  right: 0 !important;
  height: 70px;
  width: 45px;
  background-image: url("../img/Group 4.png") !important;
  background-size: 45px 70px;
}
.projectDetail-modal-content .arrow-button-prev {
  left: 0 !important;
  height: 70px;
  width: 45px;
  background-image: url("../img/Group 3.png") !important;
  background-size: 45px 70px;

}

.model-box {
  height: 96%;
  padding-bottom: 30px;
}

.projectDetail-modal-content .detail-pagination {
  text-align: left;
}